sl-traffic-fine-system/backend/src/main/resources/traffic-fine-system-9ec98-firebase-adminsdk-fbsvc-59150399ff.json
driver-portal/node_modules/
driver-portal/.npm-cache/
driver-portal/dist/
admin-portal/node_modules/
admin-portal/.npm-cache/
